*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Lato",Arial, Helvetica, sans-serif;
} 

body{
    background-color: rgb(8, 8, 8);
}
/* Hero Section */

h1{
    color: #fff;
    font-size: 60px;
    text-align: center;
    font-family: "Montserrat", Verdana, Tahoma, sans-serif;
}

.heroContainer{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("./Images/Image\ 2.png");
    background-size: cover;

}

.heroContainer img{
    object-fit: cover;
    filter: blur(3px);
    filter: brightness(50%);
}

.heroContainer span{
    color: rgb(253, 91, 91)
}

/* The pain that is a button */

.MajorButton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    position: relative;
    padding: 20px 60px;
    Margin: 32px;
    color:rgb(253, 91, 91);
    background-color: #111;
    transition: .5s ease-in-out;
}

.MajorButton::before, .MajorButton::after {
    content:"";
    border: 3px solid #fff;
    position: absolute;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    transition: transform .5s ease-in-out;
}

.MajorButton:hover{
    color: #fff;
    background-color:rgb(253, 91, 91)
}

.MajorButton:hover::after{
    transform: translate(-3px, -3px);
}

.MajorButton:hover::before{
    transform: translate(3px, 3px);
} 

.navcontainer{
    height: 5vh;
    width: 95%;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: right;
    align-items: center;
    
}

.navitem{
    margin-left: 20px;
    font-size: 24px;
    font-family: "Montserrat", Verdana, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    padding: 8px;
    transition:  .5s ease-in;
}

.logocontainer{
    margin-right: auto;
}

.logo{
    object-fit: cover;
    height: 60px;
}

.navitem:hover{
    color:rgb(253, 91, 91);
}