body{
    margin: 0;
    font-family: "Lato",sans-serif;
} 

/* Hero Section */

h1{
    color: #fff;
    font-size: 60px;
    text-align: center;
    font-family: "Montserrat", Verdana, Tahoma, sans-serif;
}

.heroContainer{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("./Images/Image\ 2.png");
    background-size: cover;

}

.heroContainer img{
    object-fit: cover;
    filter: blur(3px);
    filter: brightness(50%);
}

.heroContainer span{
    color: rgb(253, 91, 91)
}

.heroContainer button{
    padding: 12px 48px;
    font-size: 32px;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    transition: .25s ease-in;
}

.arrow {
    margin-left: 24px;
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 6px;
} 

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

button:hover{
    background-color:rgb(253, 91, 91);
    border-color:rgb(253, 91, 91);
}